{% block produit %}
    <div class="tendance">
        <div class="tendance-container">
            <div class="tendance-text">
                <h2>Our Products</h2>
            </div>
            <div class="cards-container">
                <div class="coffee-cards">
                    <img src="/assets/coffee.png" alt="">
                    <div class="cards-description">
                        <h2>Americano Coffee</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        <div class="coffee-prix">
                            <p>13.5$</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="coffee-cards">
                    <img src="/assets/coffee.png" alt="">
                    <div class="cards-description">
                        <h2>Americano Coffee</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        <div class="coffee-prix">
                            <p>13.5$</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="coffee-cards">
                    <img src="/assets/coffee.png" alt="">
                    <div class="cards-description">
                        <h2>Americano Coffee</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisic
                        <div class="coffee-prix">
                            <p>13.5$</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="coffee-cards">
                    <img src="/assets/coffee.png" alt="">
                    <div class="cards-description">
                        <h2>Americano Coffee</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisic
                        <div class="coffee-prix">
                            <p>13.5$</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="coffee-cards">
                    <img src="/assets/coffee.png" alt="">
                    <div class="cards-description">
                        <h2>Americano Coffee</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisic
                        <div class="coffee-prix">
                            <p>13.5$</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="coffee-cards">
                    <img src="/assets/coffee.png" alt="">
                    <div class="cards-description">
                        <h2>Americano Coffee</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisic
                        <div class="coffee-prix">
                            <p>13.5$</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}