{% block slider %}
  <div class="menu">
      <div class="menu-container">
          <div class="menu-descritpion">
              <h2>Would you like a Cup of Delicious Coffee?</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          </div>
          <button>Learn More</button>
      </div>
  </div>
{% endblock %}